body {
	margin:0px;
	font-family: verdana;
	color:#000000;
}

p {
	margin:0px;
}

a {
	color:#000000;
}

a:link {
	text-decoration: none;
}


.box {
	width: 50vw;
	height: 50vh;
	float:left;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;

}

.boxbox {
	width:32vw;
	height:12vw;
	display: flex;
	flex-direction:column;	
}

.headline {
	font-size:1.2vw;
	font-weight: bold;
}

.content {
	height:100%;
	margin-top: 0.2vw;
	font-size:1.6vw;
	word-wrap: break-word;
}

.readmore {
	margin-top: 1.8vw;
	font-size:1vw;
}

.modal {
	position:absolute;
	height:60vh;
	top:20vh;
	width:100vw;
	background-color: #ff0000;
	display:none;
}
